<footer class="footer">
  <div class="wrap">
    <div class="links">
      <a href="mailto:sourabh@connectors.so">sourabh@connectors.so</a>
      <a href="https://choraria.io" target="_blank" rel="noreferrer noopener">choraria.io</a>
      <a href="https://coda.io/@choraria" target="_blank" rel="noreferrer noopener">@choraria</a>
      <a href="https://www.linkedin.com/in/choraria/" target="_blank" rel="noreferrer noopener">linkedin</a>
      <a href="https://twitter.com/choraria" target="_blank" rel="noreferrer noopener">twitter</a>
    </div>
    <div class="copy">© {{ site.time | date: '%Y' }} Sourabh Choraria · Porto, Portugal</div>
  </div>
</footer>
